<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rest</key>
	<dict>
		<key>url</key>
		<string>http://192.168.1.15:8000/api/</string>
		<key>api_version</key>
		<string>v1</string>
	</dict>
</dict>
</plist>
